{% extends "bboard/basic.html" %}
{% block title %}Search{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    {% if bbs %}
        {% for bb in bbs %}
            <div>
                <h3> {{bb.title}}, Rubric: {{bb.rubric.name}} </h3>
                <p>{{bb.content|truncatechars:50}}</p>
                <p>{{bb.published|date:"d.m.Y H:i:s"}}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}